.footer {
    background-color: $negro;
    .contenedor-footer {
        margin-top: 2rem;
        display: flex;
        justify-content: center;
        gap: 2.5rem;
        align-items: center;
        margin-top: 2rem;
         padding: 1rem;
    }
    .copyright {
        color: $blanco;
        text-align: center;
    }

  

    p {
      
        font-size: 1.8rem;
    }

    img{
       width: 3.5rem;
     
 
    }

   
}
