.no-webp .inicio {
    background-image: url(../img/4525-Herramientas-digitales-para-el-dise침o-gr치fico.jpg);
}
.webp .inicio {
    background-image: url(../img/4525-Herramientas-digitales-para-el-dise침o-gr치fico.jpg);
}

.header {
    background-color: $grisOscuro;
    padding: 1rem 0 3rem 0;

    .barra {
        a {
            img {
                min-width: 20rem;
            }
        }
    }

    &.inicio {
        background-position: center center;
        background-size: cover;

        @include tablet {
            min-height: 70rem;
        }

        .contenido-header {
            @include tablet {
                min-height: 70rem;
            }
        }
    }
}

.contenido-header {
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    h1 {
        text-align: left;
        color: $blanco;
        font-weight: $bold;
        line-height: 2;
        max-width: 60rem;
    }
}